:root {

    /* color palette of facebook darkmode */
    --clr-1: #18191a;
    --clr-2: #242526;
    --clr-3: #3a3b3c;
    --clr-4: #e4e6eb;
    --clr-5: #b0b3b8;
    --clr-hover: #5c5d5e;

    /* sizes */
    --size-xxs: .5rem;
    --size-xs: .75rem;
    --size-sm: .875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    margin: 0;
    line-height: calc(1em + .5rem);
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'General Sans', sans-serif;
    font-family: 'Cabinet Grotesk', sans-serif;
    background-color: var(--clr-1);
    color: var(--clr-4);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;

}

ul{
    list-style: none;
}

